<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lease.order.api.mapper.OrderMapper">

    <select id="findByOrderId" resultMap="com.lease.order.api.mapper.OrderMapper.mybatis-plus_Order">
        select * from orders where order_id = #{orderId}
    </select>

    <select id="findExpireUnPayOrders" resultMap="com.lease.order.api.mapper.OrderMapper.mybatis-plus_Order">
        select * from orders where TIMESTAMPDIFF(MINUTE, create_time, now()) >= 30
    </select>
</mapper>